html
    head
        title Ingreso de usuarios
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css")
        meta(name="theme-color" content="#7952b3")
    body(class="text-center" anx="4C")
    main(class="form-signin")
        div(class="form-floating")
            h1 Error favor de verificar que todo este en orden! :)